/*CSS for page*/
body {
  width: 1302px;
  margin-right: auto;
  list-style: none; }

/*CSS for HEADER section*/
header {
  background-image: url("assets/header.jpg");
  width: 1302px;
  height: 523px;
  border: 1px solid white;
  font-family: Oswald, sans-serif; }

.navtop {
  display: block;
  margin-right: auto;
  font-size: 16px;
  margin-left: auto;
  font-weight: bold;
  text-transform: uppercase; }

.blog {
  display: block;
  float: left;
  margin-left: 130px; }

.blog ul {
  margin-top: 9px; }

.blog ul li {
  display: inline-block;
  float: left;
  margin-left: -30px; }

.blog img {
  display: inline-block;
  float: left;
  margin-right: 35px; }

.sp {
  padding-top: 10px; }

.info {
  display: inline-block;
  float: right;
  margin-top: 1px;
  margin-right: 162px;
  font-size: 16px; }

.info ul li {
  display: inline-block;
  float: right;
  margin-right: 12px; }

.logo {
  text-align: center; }

.name {
  padding-top: 193px;
  color: white;
  font-size: 90px; }

.logo p {
  margin: 0px auto;
  font-size: 16px; }

/* this is the left side*/
.div1 {
  display: block;
  float: left;
  width: 637px;
  height: 809px;
  margin-top: 60px;
  margin-left: 155px;
  margin-right: 5px;
  font-family: Open Sans, sans-serif; }

h1 {
  width: 603px;
  height: 142px;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-family: Oswald, sans-serif;
  font-size: 68px;
  text-transform: uppercase;
  line-height: 70px; }

.timestamp {
  height: 30px;
  margin-left: 10px;
  font-family: Oswald, sans-serif;
  line-height: 22px; }

.timestamp span {
  text-decoration: underline; }

.timestamp ul {
  padding-left: 0px;
  margin-top: -10px;
  margin-right: 4px; }

.timestamp ul li {
  display: inline-block;
  float: left;
  font-size: 14px; }

.timestamp ul img {
  width: 22px;
  height: 22px;
  margin-left: 2px; }

.name2 {
  padding-left: 10px;
  color: #106cb2; }

.date {
  padding-left: 25px;
  color: #aebcc7; }

section {
  margin-left: 10px; }

.text1 {
  width: 621px;
  margin-top: 18px; }

.text1 span {
  color: #aebcc7;
  text-decoration: underline; }

.text1 span:hover {
  color: #106cb2; }

.text1 p {
  font-family: Open Sans, sans-serif;
  line-height: 23px; }

blockquote {
  height: 56px;
  padding-left: 18px;
  border-left: 1px solid black;
  margin: 2px;
  color: #106cb2;
  font-family: Open Sans, sans-serif;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase; }

.text2 span {
  color: #aebcc7;
  text-decoration: underline; }

.text2 span:hover {
  color: #106cb2; }

/* buttons*/
.connect {
  display: block;
  float: left;
  width: 800px;
  height: 50px;
  margin-top: 12px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: bold; }

.read {
  display: inline-block;
  float: left;
  width: 155px;
  height: 30px;
  margin-right: 14px;
  background-color: #a2b2be;
  color: white;
  font-size: 12px;
  width: 155px; }
  .read ul li {
    display: inline;
    float: left; }
  .read img {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border: 5px 4px 6px 6px solid black;
    margin-right: 3px;
    background-color: #083554; }

.upload {
  display: inline-block;
  float: left;
  width: 155px;
  height: 30px;
  margin-right: 12px;
  background-color: #a2b2be;
  color: white;
  font-size: 12px;
  width: 125px; }
  .upload ul li {
    display: inline;
    float: left; }
  .upload img {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border: 5px 4px 6px 6px solid black;
    margin-right: 3px;
    background-color: #083554; }

.share {
  display: inline-block;
  float: left;
  width: 155px;
  height: 30px;
  margin-right: 15px;
  background-color: #a2b2be;
  color: white;
  font-size: 12px;
  width: 155px; }
  .share ul li {
    display: inline;
    float: left; }
  .share img {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border: 5px 4px 6px 6px solid black;
    margin-right: 3px;
    background-color: #083554; }

.read:hover, .upload:hover, .share:hover {
  background-color: #106cb2; }

.read img {
  padding: 7px 8px 7px 7px; }

.upload img {
  padding: 8px 7px 6px 8px; }

.share img {
  padding: 7px 5px 7px 10px; }

.rc, .rl, .stp {
  padding-top: 6px;
  text-align: center; }

/* this is the right side*/
.div2 {
  float: right;
  width: 305px;
  height: 739px;
  margin-top: 81px;
  margin-left: 5px;
  margin-right: 137px;
  font-family: Open Sans, sans-serif; }

.social {
  color: #aebcc7; }

.avatar {
  margin-left: 100px; }

.socialmedia {
  line-height: 10px; }

.socialmedia ul {
  list-style: none; }

.anne {
  margin-left: 54px;
  color: #106cb2;
  text-transform: uppercase;
  line-height: 0px; }

.media {
  height: 20px;
  margin-left: 12px; }

.media ul {
  display: inline;
  margin-top: 0px;
  margin-bottom: 55px; }

.media li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 3px;
  border-left: 1px solid #fafafa;
  font-size: 13px;
  text-align: center; }

.media li:first-child {
  border-left: none; }

.ad {
  padding-top: 30px; }

.ad p {
  width: 278px;
  margin-top: 0px;
  color: #aebcc7;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  text-align: right; }

.sbtext h3 {
  padding-top: 28px;
  margin-bottom: 0px;
  color: #106cb2;
  font-size: 18px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase; }

.sbtext p {
  width: 278px;
  height: 169px;
  margin-top: 5px;
  font-size: 14px;
  color: #aebcc7;
  line-height: 23px; }

.sbtext span {
  color: #aebcc7;
  text-decoration: underline; }

.sbtext span:hover {
  color: #106cb2; }

/*This is the footer*/
footer {
  width: 1302px;
  height: 575px;
  margin-top: 1005px;
  font-family: Oswald, sans-serif; }

.logobottom {
  width: 1302px;
  height: 150px;
  padding: 0px;
  border-top: 1px gray solid;
  margin: 0px auto; }

.logobottom p {
  padding-top: 20px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 66px;
  font-weight: bold;
  text-align: center; }

.fcontainer {
  display: block;
  width: 1302px;
  margin-left: 5px; }

.fcontainer img {
  display: block;
  float: left;
  padding: 0px; }

.pic1 {
  position: relative;
  display: inline-block;
  width: 332px;
  height: 328px;
  margin: -5px;
  background: url("assets/article-image-1.jpg"); }

.pic1text p {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  width: 245px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 3px; }

.pic1layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #629fcb;
  opacity: 0.85; }

.pic1layer:hover {
  background-color: transparent; }

.pic2 {
  position: relative;
  display: inline-block;
  width: 332px;
  height: 328px;
  margin: -5px;
  background: url("assets/article-image-2.jpg"); }

.pic2text p {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  width: 245px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 0px; }

.pic2layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #629fcb;
  opacity: 0.85; }

.pic2layer:hover {
  background-color: transparent; }

.pic3 {
  position: relative;
  display: inline-block;
  width: 332px;
  height: 328px;
  margin: -5px;
  background: url("assets/article-image-3.jpg"); }

.pic3text p {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  width: 245px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  height: 53px; }

.pic3layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #629fcb;
  opacity: 0.85; }

.pic3layer:hover {
  background-color: transparent; }

.pic4 {
  position: relative;
  display: inline-block;
  width: 332px;
  height: 328px;
  margin: -5px;
  background: url("assets/article-image-4.jpg"); }

.pic4text p {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  width: 245px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 3px;
  height: 0px;
  margin-left: 6px; }

.pic4layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #629fcb;
  opacity: 0.85; }

.pic4layer:hover {
  background-color: transparent; }

.bottom {
  display: block;
  width: 1307px;
  height: 96px;
  background-color: #083554;
  font-family: Open Sans, sans-serif; }

.navbottom {
  display: block;
  margin-right: auto;
  font-size: 14px;
  margin-left: 125px;
  color: #a2b2be; }

.bottomleft {
  display: block;
  float: left;
  width: 555px;
  height: 92px;
  margin-top: 15px; }

.bottomleft ul li {
  display: inline-block;
  float: left;
  height: 40px; }

.bottomleft img {
  display: inline-block;
  float: left;
  margin-right: 12px; }

.tiy {
  padding-top: 10px; }

.bottomright {
  display: inline-block;
  float: left;
  width: 470px;
  height: 92px;
  padding-top: 10px;
  margin-top: 15px; }

.bottomright ul li {
  display: inline-block;
  float: right;
  padding-right: 8px;
  padding-left: 10px;
  border-right: 1px solid #a2b2be;
  text-align: center; }

.bottomright li:first-child {
  border-right: none; }

/*# sourceMappingURL=main.css.map */
