/*CSS for HEADER section*/

header{
    background-image:url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg');
  font-family:'Oswald', sans-serif;
  border: 1px solid white;
  width:1300px;
  height:523px;
  margin-right: auto;

}

ul {
  list-style-type: none;
}

.nav {
  height:30px;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  display:inline;
}

.nav ul{
  margin-right:150px;
  margin-left:100px;
}

ul li {
  padding: 4px;
}

.button1 ul li{
  display:inline-block;
  float:left;
}

.button2 ul li{
  display:inline-block;
  float:right;
}

.name{
  text-align:center;
  padding-top:
}

h1 {
  color:white;
  font-size: 100px;
  margin-bottom:0;
  padding-top:90px;
}

.name p {
  font-size: 18px;
  margin:0px auto;
}

/* this is the body*/
.page {
  font-family:'Open Sans',sans-serif;
}

h2 {
  text-transform:uppercase;

}
